:root {
    --colorWHITE: #fff;
    --colorBLACK: #000;
    --colorMAIN: #671616;
    --colorLIGHTGRAY: #eee;
}

/* -- dark mode -- */

@media (prefers-color-scheme: dark) {
    body {
        --colorWHITE: #111;
        --colorBLACK: #aaa;
        --colorMAIN: #222;
    }
}

/* -- all -- */

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-collapse: collapse;
    vertical-align: top;
    /* box-sizing: border-box; */
    /* user-select: none; */
    -webkit-appearance: none;
}

*:focus {
    outline: none;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--colorWHITE);
}

p, a {
    color: var(--colorBLACK);
    font-weight: 300;
    font-family: "Heebo", Arial, Helvetica, sans-serif;
    /* text-align: justify; */
}

a {
    text-decoration: none;
}

.hidden {
    display: none !important;
}

/* -- header -- */

header {
    height: 20vh;
}

header #p_title {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

header #p_result {
    font-size: 12px;
}

#div_search #bt_search:hover, #div_search select:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#div_search #bt_search, #div_search select {
    background-color: transparent;
    color: var(--colorBLACK);
    border: 1px solid var(--colorBLACK);
    font-size: 14px;
    padding: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

/* -- header -- */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* -- main -- */

main {
    background: var(--colorMAIN);
    height: 80vh;
    overflow-y: scroll;
}

/* -- plateau -- */

#plateau {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

#plateau div {
    border:3px solid #fff;
    width: calc(12.5% - 26px);
    height: calc(35vh - 26px);
    margin: 10px;
    opacity: 0;
    overflow-wrap: break-word;

    animation-name: animateOne;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

#plateau div a {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

#plateau div:hover img {
    object-position: 0% 0%;
}

#plateau div img {
    width: 100%;
    height: 100%;
    transition: 0.7s;
    position: absolute;
    object-fit: cover;
}

#plateau div:hover p,
#plateau div:hover p small {
    background: transparent;
    color: transparent;
}

#plateau div p {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6));
    color: var(--colorLIGHTGRAY);
    padding: 20px;
    /* transition: 0.5s; */
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    word-break: break-all;
}

#plateau div p small {
    color: #aaa;
    font-size: 12px;
    line-height: 1.8em;
}

/* -- animation -- */
@keyframes animateOne {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* -- mobile -- */

@media screen and (max-width: 800px) {
    #plateau div {
        width: calc(50% - 26px);
    }
}